[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
nltk = "*"
scikit-learn = "*"
folium = "*"
prettytable = "*"
wordcloud = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
